<%- include('partials/header'); -%>

<div class="goback">
    <button> Show all questions </button>
</div>

<header>
    <div class="headings">
      <h3>Question Details: <%= question.title%></h3>
    </div>
  </header>



  <div class="qdetails"> 
    <a class ="delete" data-doc="<%= question._id %>"> 
        <img src="/trashcan.svg" alt="delete icon" />
    </a>
    <table>
        <tr>
            <td> topic </td>
            <td> <%= question.topic %> </td>
        </tr>
        <tr>
            <td> question type </td>
            <td> <%= question.type %></td>
        </tr>
        <tr>
            <td> tags </td>
            <td> <%= question.tags %></td>
        </tr>
        <tr>
            <td> pre-requisites </td>
            <td> <%= question.prereqs %> </td>
        </tr>
        <tr>
            <td> created by </td>
            <td> <%= question.topic %></td>
        </tr>
        <tr>
            <td> adaptive </td>
            <td> <%= question.isadaptive %></td>
        </tr>
        <tr>
            <td> number of steps </td>
            <td> <%= question.nSteps %> </td>
        </tr>
    </table>
  </div>


<div class = "newvariant" data-doc="<%= question._id %>">
    <button> Create new variant </button>
</div>



<%- include('partials/submitanswer') -%>


<script>
//    const quest = document.querySelector('.quest');
//    quest.innerHTML = htmlString;
//    console.log('Htmlstring is:', htmlString);
// <!-- <div class="quest" > <%- include(viewToRender) %> </div> -->
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e)=>{
        const endpoint = `/questionDetails/${trashcan.dataset.doc}`;
        console.log(`Deleting record ${endpoint}`);
        fetch(endpoint, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch( err => console.log(err))
    });

    const newinstance = document.querySelector('.newvariant');
    newinstance.addEventListener('click', (e)=>{
        const endpoint = `/questionInstance/${newinstance.dataset.doc}`
        console.log(endpoint);
        fetch(endpoint, {
            method: 'GET'
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err))
    });

    const goback = document.querySelector('.goback');
    goback.addEventListener('click', (e)=>{
        location = "/allQuestions";
    });
</script>

<%- include('partials/footer'); -%>